/* Dark theme styles */
@media (prefers-color-scheme: dark) {
    .grey-200 {
      background-color: #080808 !important;
      color: white;
    }
    .card {
        background-color: #0F1011 !important;
        box-shadow: 0 0 0 .5px #26282D,0 1px 2px #0000000a,0 2px 4px #0000000a;
    }
    .btn-w {
        color: white !important;
        background-color: #1E2025 !important;
        box-shadow: inset 0 1px #fff, inset 0 -14px 18px -20px #f8f8fa, 0 1px 1px #2C2E33, 0 0 0 .5px #bebcd9, 0 0 #0000, 0 2px 5px #45405214 !important;
    }

    /* menu styling */
    .menu-company-name, .menu-item {
        color: white !important;
    }
    .menu-item.w--current {
        background-color: #1e2025a5 !important;
    }
    .menu-item-icon {
        color: #949496 !important;
    }
    .side-menu-category {
        color: #949496 !important;
    }

    /* table styling */
    .table-tabs, .table-search {
        background-color: #0F1011 !important;
    }
    .table-tab.active {
        background-color: #0F1011 !important;
        color: white !important;
    }
    .table-header {
        background-color: #0F1011 !important;
    }
    .table-header.shipments {
        border-bottom: 1px solid #1A1C21 !important;
    }
    .table-row.shipments {
        border-bottom: 1px solid #1A1C21 !important;
    }
    .table-row.shipments:hover {
        background-color: #1E2025 !important;
    }
    .table-cell-waybill-col {
        background-color: #0F1011 !important;
    }
    .table-cell.action-btn-container {
        background-image: linear-gradient(90deg, #0F1011 86%, #0F1011 91%);
    }
    .table-pagination {
        background-color: #0F1011 !important;
        border-top: 1px solid #1A1C21 !important;
    }

    /* form styling */
    .form-input {
        color: white !important;
        text-align: left;
        cursor: text;
        background-color: transparent !important;
        border: 1px solid #2C2E33 !important;
    }

    /* text styling */
    .text-sm {
        color: white !important;
    }
    .text-sm-light-grey {
        color: #949496 !important;
    }
  }