/* ======= Tooltip styling ======= */
.tooltip {
  visibility: hidden;
  transition-timing-function: ease;
  transition: 50ms;
  transition-delay: 50ms;
  opacity: 0;
}

.tooltip.order-original-address-descriptor {
  transition-delay: 250ms;
}

.more-info:hover .tooltip,
.waypoint-status-container:hover .tooltip,
.data-valid-container:hover .tooltip,
.data-validation-container:hover .tooltip,
.order-original-address-container:hover .tooltip,
.form-id-container:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

/* ======= Arrow hover animations ======= */
.btn-hover-arrow-1,
.btn-hover-arrow-2 {
  transition: ease 100ms;
}

.primary-btn:hover .btn-hover-arrow-1~.btn-hover-arrow-2 {
  opacity: 1;
}

.primary-btn:hover .btn-hover-arrow-1 {
  margin-left: 5px;
  opacity: 1;
}

.primary-btn:hover .btn-hover-arrow-2 {
  margin-left: -11px;
  height: 11px;
  opacity: 1;
}

/* Waypoint arrow animation */
.waypoint-arrow {
  visibility: hidden;
}

.waypoint-clickable-container:hover .waypoint-arrow {
  visibility: visible;
}

/* ======= Calendar styling ======= */
.calendarContentContainer {
  width: 100%;
}

.calendarMonth td {
  color: #170b33;
  font-size: 15px;
  font-weight: 500;
  line-height: 15px;
  width: 58px !important;
  height: 40px !important;
  box-sizing: border-box;
  position: relative;
  padding-top: 12px;
  user-select: none;
}

.calendarMonth th {
  text-align: center !important;
}

.calendarMonth {
  color: #54556d;
  font-size: 12px;
  font-weight: 500;
  padding: 10px 5px;
  word-break: normal;
  text-transform: uppercase;
  user-select: none;
  border-collapse: separate !important;
}

.calendarMonthName {
  color: #170b33;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  padding: 5px 5px 15px 5px;
  word-break: normal;
  text-transform: none;
  user-select: none;
}

.calendarNextBtn,
.calendarPrevBtn {
  height: 40px;
  width: 40px;
  cursor: pointer;
  padding: 5px 5px 15px 5px;
}

.calendarNextBtn:hover,
.calendarPrevBtn:hover {
  opacity: .7;
}

.calendarNextIcon,
.calendarPrevIcon {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

.calendarPrevIcon {
  transform: rotateZ(180deg);
  -webkit-transform: rotateZ(180deg);
}

.calendarMonth .calendarDate {
  text-align: center;
  vertical-align: top;
  background: #ffffff;
  cursor: pointer;
  border-radius: 40px !important;
}

.calendarMonth .calendarDate:hover {
  background: #f4f4fa;
}

.calendarMonth .calendarDate:active {
  background: #f0f0f7;
}

.calendarMonth .calendarDateSelected {
  background: #7642f4;
  color: #ffffff;
}

.calendarMonth .calendarDateSelected:hover {
  background: #5327be;
}

.calendarMonth .rangeStartDate {
  border-radius: 40px 0px 0px 40px !important;
  background: #7642f4 !important;
  color: #ffffff;
}

.calendarMonth .rangeEndDate {
  border-radius: 0px 40px 40px 0px !important;
  background: #7642f4 !important;
  color: #ffffff;
}

.calendarMonth .inDateRange {
  border-radius: 0px !important;
  background: #7642f4 !important;
  color: #ffffff !important;
}

/* ======= Custom checkbox styling ======= */
.checkbox-container {
  position: relative;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  color: #54536F;
  line-height: 14px;
  cursor: pointer;
  margin-bottom: 0px;
  height: 16px;
}

.checkbox-container.nested {
  margin-left: 14px;
}

.checkbox-container:active > .checkmark {
  box-shadow: 0 0 0 3px rgba(118, 66, 244, 0.1),
    0 1px 3px 0 rgba(23, 11, 51, 0.15);
}

.checkbox-container input[type="checkbox"] {
  opacity: 0;
  margin-right: 10px;
  height: 16px;
  width: 16px;
}

.checkmark {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 16px;
  height: 16px;
  background: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 1px 1px rgba(23,11,51,.08), 0 0 0 1px #deddf2, 0 0 transparent, 0 2px 5px rgba(69,64,82,.08);
  transition: ease 100ms;
}

.checkmark:active {
  box-shadow: 0 0 0 3px rgba(118, 66, 244, 0.1),
    0 1px 3px 0 rgba(23, 11, 51, 0.15);
}

.checkbox-container input[type="checkbox"]:checked + .checkmark {
  background-color: #723EF2;
  box-shadow: 0 0 0 1px #6128EB;
}

.checkbox-container input[type="checkbox"]:checked + .checkmark svg {
  display: none;
}

.checkbox-container .checkmark svg {
  display: none;
  position: absolute;
  top: 0px;
  left: 2px;
  width: 12px;
  height: 12px;
}

.checkbox-container .checkbox-container-li {
  margin-top: 14px;
}

/* ======= Custom radio button styling ======= */
.radio-btn-container {
  display: block;
  position: relative;
  margin-bottom: 10px !important;
  padding-left: 25px;
  color: #54536F;
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

.radio-btn-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0px;
  height: 0px;
}

.radio-checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(23,11,51,.08), 0 0 0 1px #deddf2, 0 0 transparent, 0 2px 5px rgba(69,64,82,.08);
  transition: ease 100ms;
}

.radio-btn-container .radio-checkmark:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  background: white;
}

.radio-btn-container:hover input ~ .radio-checkmark {
  background-color: #f4f4fa;
}

.radio-checkmark:active {
  box-shadow: 0 0 0 3px rgba(118, 66, 244, 0.1),
    0 1px 3px 0 rgba(23, 11, 51, 0.15);
}

.radio-btn-container input:checked ~ .radio-checkmark {
  background-color: #7642f4;
  box-shadow: 0 1px 1px rgba(23,11,51,.08), 0 0 0 1px #6128EB, 0 0 transparent, 0 2px 5px rgba(69,64,82,.08);
}

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-btn-container input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Centered radio button styling */
.radio-btn-container-1 {
  display: block;
  position: relative;
  padding-left: 40px;
  padding-top: 12px;
  margin-bottom: 0px;
  padding-bottom: 12px;
  color: #170b33;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
}

.radio-btn-container-1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  width: 0px;
  height: 0px;
}

.radio-checkmark-centered {
  position: absolute;
  top: 24px;
  left: 12px;
  width: 14px;
  height: 14px;
  border: 1px solid #deddf2;
  border-radius: 18px;
  background-color: #fff;
  box-shadow: 0 1px 4px 0 rgb(23 11 51 / 8%);
  transition: ease 100ms;
}

.radio-btn-container-1 .radio-checkmark-centered:after {
  top: 3px;
  left: 3px;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: white;
}

.radio-btn-container-1:hover input ~ .radio-checkmark-centered {
  background-color: #f4f4fa;
}

.radio-checkmark-centered:active {
  box-shadow: 0 0 0 3px rgba(118, 66, 244, 0.1),
    0 1px 3px 0 rgba(23, 11, 51, 0.15);
}

.radio-btn-container-1 input:checked ~ .radio-checkmark-centered {
  background-color: #7642f4;
  border: 1px solid #6c39e5;
}

.radio-checkmark-centered:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-btn-container-1 input:checked ~ .radio-checkmark-centered:after {
  display: block;
}

/* ======= List search input field ======= */
.order-search-input {
  width: 100%;
  height: 32px;
  color: #170b33;
  text-align: left;
  cursor: text;
  background-color: #fff;
  border: 1px solid #deddf2;
  border-radius: 8px;
  margin-top: 0px;
  padding: 8px 10px 9px 35px;
  font-size: .875rem;
  font-weight: 400;
  transition: all .3s cubic-bezier(.45,0,.15,1);
  box-shadow: 0 0 #deddf2;
  background-image: url(https://uploads-ssl.webflow.com/5fda6f586fdb5a2f2cc5696a/6140bab9e8efb0697d9fbde7_Search-Icon.svg);
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 12px;
}

.order-search-input:focus {
  outline: none;
  border: 1px solid #5d90ee;
  box-shadow: #92b4f5 0px 0px 0px 3px;
}

/* ======= Side menu activation ======= */
.activate-menu-on-hover {
  position: absolute;
  left: 0;
  top: 0;
  right: auto;
  bottom: 0;
  z-index: 1001;
  width: 2px;
}

/* ======= List table styling ======= */
.table-overflow-container {
  overflow-y: auto;
  max-height: 80vh;
}

.table-content {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  color: #170b33;
}

.table-overflow-container .table-content th:after {
  content: "";
  border-bottom: 1px solid rgba(222, 221, 242, 0.5);
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: -1px;
}

.table-content thead th {
  position: sticky;
  top: 0;
  background: white;
  padding: 12px 20px;
  color: #1a1b25;
  text-transform: uppercase;
  font-size: .6875rem;
  font-weight: 500;
}

.table-content thead th:first-child {
  position: sticky;
  left: 0;
  background: white;
  z-index: 1;
  max-width: 35px;
  padding-right: 0px;
}

.table-content tbody td:first-child {
  position: sticky;
  left: 0;
  background: white;
  max-width: 35px;
  padding-right: 35px;
}

.table-second-column {
  position: sticky;
  left: 58px;
  background: linear-gradient(90deg, rgba(255,255,255,1) 90%, rgba(255,255,255,0%) 100%);
}

.table-content tbody td {
  padding: 12px 20px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #1a1b25;
  white-space: nowrap;
}

th {
  text-align: left;
}

.clickable-row {
  border-top: 1px solid #f0f0f7;
  cursor: pointer;
}

.clickable-row:hover {
  background-color: #f7f7fc;
}

.clickable-row:hover .table-second-column {
  background: linear-gradient(90deg, rgba(244,244,250,1) 90%, rgba(255,255,255,0%) 100%);
}

.clickable-row:hover .list-item-checkbox {
  background-color: #f7f7fc;
}

.list-address {
  padding: 12px 15px 12px 20px;
  font-size: 0.875rem;
  font-weight: 400;
  color: #1a1b25;
  text-align: left;
  max-width: 70ch !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-length-20ch {
  max-width: 20ch !important;
}

.overflow-table-container {
  max-height: calc(100vh - 25px);
}

.selected {
  background-color: #f4f3fea1;
}

.orders-alert-list-icon {
  width: 12px;
  height: 12px;
  margin-top: -2px;
  margin-right: 5px;
}

.text-align-right {
  text-align: right;
}

.table-content thead th.table-second-column {
  padding: 12px 20px 12px 0px;
  min-width: 85px;
  z-index: 2;
  background: linear-gradient(90deg, rgba(255,255,255,1) 90%, rgba(255,255,255,0%) 100%);
}

.table-content tbody td.table-second-column {
  padding: 12px 20px 12px 0px;
  white-space: nowrap;
}

.merged-orders-column {
  padding: 0px !important;
  width: 10px !important;
}

.shimmer-row {
  border-top: 1px solid rgba(222, 221, 242, 0.5);
}

/* ======= Plan route overview ======= */
.optimise-settings-btn {
  display: none;
}

.delivery-overview-btn-section:hover + .optimise-settings-btn {
  display: block !important;
}

.optimise-settings-btn:hover {
  display: block !important;
}

/* ======= Delivery status bar ======= */
.delivery-status-bar-container {
  width: calc(100% - 490px);
}

/* ======= Settings ======= */
.settings-card-li:hover .context-menu-btn {
  box-shadow: 0 1px 1px rgba(23,11,51,.08), 0 0 0 1px #deddf2, 0 2px 5px rgba(69,64,82,.08);
}

.eye-closed::before {
  content: url('../images/eye-placeholder.png');
}

.eye-open::before {
  content: url('../images/eye-placeholder.png');
}

/* ======= Shipment requirements ======= */
.text-sm-fallback,
.carrier-logo-fallback,
.carrier-o-logo-fallback {
  background-size: 600px 44px !important;
  background: rgba(91,97,110,.05);
  background-image: linear-gradient(90deg, rgba(91,97,110,.05) 0, rgba(91,97,110,0) 25%, rgba(91,97,110,.1) 50%, rgba(91,97,110,0) 75%, rgba(91,97,110,.05) 100%);
  background-repeat: no-repeat;
  animation: shimmer-fallback 4s linear infinite forwards;
  display: inline-block;
  position: relative;
  overflow: hidden;
}

/* ======= Animations ======= */
@keyframes shimmer-fallback {
  0% {
    background-position: -600px 0;
  }
  100% {
    background-position: 600px 0;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fullView {
  100% {
    width: 100%;
  }
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

/* ======= Spinner loader ======= */
.s-loader,
.btn-p-spinner,
.btn-w-spinner {
  animation: spin 600ms linear infinite;
}

/* ======= Utility classes ======= */
.truncate {
  display: inline-block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.truncate-width-100 {
  width: 100%;
}

.carrier-col {
  width: calc(100% - 60px);
}

/* ======= Toggle switch ======= */
.switch-wrapper {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 24px;
  margin-left: auto;
}

.switch-wrapper input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #e8eaf3;
  border: 1px solid #d1d5e0;
  transition: .1s;
  border-radius: 34px;
}

.toggle:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  background-color: white;
  transition: .1s;
  border-radius: 50%;
}

input:checked + .toggle {
  background-color: #7642f4;
  border: 1px solid #7642f4;
}

input:checked + .toggle:before {
  transform: translateX(23.8px);
}

/* ======= Delivery summary ======= */
.delivery-summary-text {
  display: none;
}

.delivery-summary-container:hover .delivery-summary-display-text {
  display: none;
}

.delivery-summary-container:hover .delivery-summary-text {
  display: block;
}

/* ======= Export options ======= */
.export-options-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none;
}

.export-options-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* ======= Select styling ======= */
select {
  appearance: none;
  position: relative;
  outline: 0;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  height: 100%;
  padding: 0px 24px 0px 9px;
  background-image: url('https://uploads-ssl.webflow.com/5fda6f586fdb5a2f2cc5696a/62d3ffb47fcc9cc7e4974216_more-actions-icon.svg');
  background-repeat: no-repeat;
  background-size: 14px 14px;
  border-radius: 8px;
}

.items-per-page {
  background-position: 40px 50%;
}

.purchase-modal-card-select {
  background-position: 65px 50%;
}

/* ======= Misc ======= */
.accordion {
  user-select: none;
}

.action-menu {
  display: inline-flex;
}

.card-content::-webkit-scrollbar {
  display: none;
}
